.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.modal-custom-class .modal-wrapper {
    position: absolute;
    bottom: 0;
    height: 80%;
    background: transparent;
}

.modal-custom-class .modal-shadow {
    position: absolute;
    bottom: 0;
    height: 80%;
}

.modal-custom-class .ion-page {
    background: transparent;
}