@import "./flex.scss";
@import "./modal.scss";

ion-content {
    --background: rgb(241, 241, 246);
}

@media (prefers-color-scheme: dark) {
    ion-content {
        --background: rgb(0, 0, 0);
    }

    ion-toolbar {
        --background: rgb(41, 41, 41);
    }
}
